<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GribPie{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% if current_user.is_authenticated %}
    <div class="navbar">
        <div class="navbar-content">
            <div class="navbar-title">GribPie</div>
            <div class="user-info">
                <span>Привет, {{ current_user.username }}!</span>
                <a href="{{ url_for('dashboard') }}" class="button navbar-button">Панель управления</a>
                <a href="{{ url_for('logout') }}" class="button navbar-button">Выход</a>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>
